<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= course.title %>
    </title>
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="/css/general.css">
    <script src="/js/general.js"></script>
    <script src="/js/course.js"></script>

    <!-- page image at top -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- External Fonts from Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- External Font Awesome Packages script gives us custom classes which provide the symbols for the buttons. -->
    <script src="https://kit.fontawesome.com/0bade4009c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="topbar">
        <button class="fa-solid fa-bars fa-xl" id="sidebarButton">
        </button>
        <h1><a href="/">AI Learn</a></h1>
        <!-- Go To Non Dynamic Course button -->
        <button class="fa-solid fa-arrow-right fa-xl" id="printButton" title="Go to One Page Course" onclick="window.location.href='/full-course/<%= course.id %>'">
        
    </div>
    <div id="sidebar" data-status="closed">
        <% for (let module of course.modules) { %>
            <button class="module-button" data-default-text="<%= module.title %>">
                <%= module.title %>
            </button>
            <div class="module-lessons">
                <% for (let lesson of module.lessons) { %>
                    <button class="lesson-button" data-default-text="<%= lesson.title %>">
                        <%= lesson.title %>
                    </button>
                    <% } %>
            </div>
            <% } %>
    </div>

    <div class="container">
        <div class="banner" id="banner" style="background-image: url(<%= course.image %>)">
            <button id="prevButton">Prev</button>
            <button id="nextButton">Next</button>
        </div>
        <div id="content">
            <h2>
                <%= course.title %>
            </h2>
            <h3 id="moduleTitle"></h3>
            <div>
                <h4 id="lessonTitle"></h4>
                <p id="lessonInfo"></p>
            </div>
        </div>
    </div>
</body>

<!-- ejs setting current module and lesson -->
<script>
    main(<%- JSON.stringify(course) %>);
</script>

</html>