<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/general.css">
    <script src="/js/index.js"></script>
    <script src="/js/general.js"></script>
    <!-- External Fonts from Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- External Font Awesome Packages script gives us custom classes which provide the symbols for the buttons. -->
    <script src="https://kit.fontawesome.com/0bade4009c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="topbar">
        <button class="fa-solid fa-bars fa-xl" id="sidebarButton">
        </button>
        <h1><a href="/">AI Learn</a></h1>

        <div id="searchBar">
            <input type="text" placeholder="Search..." id="searchInput">
            <!-- <button class="fa-solid fa-search fa-lg" id="searchButton"></button> -->
        </div>

    </div>
    <div id="sidebar" data-status="closed">
        <button data-selected="true">Courses</button>
        <button>About</button>
    </div>

    <div id="content">
        <button id="addCourseButton">+ Add a Course</button>

        <h2>Courses</h2>
        <div>
            <!-- <h2>Favorites</h2> -->
            <div id="courseItems">
                <% if (locals.courses) { %>
                    <% for (let i=0; i < courses.length; i++) { %>
                        <% const course=courses[i]; %>
                        <div class="courseElement" data-course-id="<%= course.id %>">
                            <div class="courseElementImg">
                                <img src="<%= course.image %>" alt="<%= course.title %>" width="100%" height="100%">
                            </div>
                            <button class="favoriteButton fa-regular fa-star"
                                onclick="favorite('course_<%= course.title.replace(/\s+/g, '') %>')"
                                data-favorited="false"></button>
                            <h1>
                                <%= course.title %>
                            </h1>
                            <div class="courseElementDesc">
                                <%= course.description %>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <h1>No Courses Found</h1>
                <% } %>
            </div>
        </div>
    </div>

    <!--Add Course Modal-->
    <div id="addCourseModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Add a Course</h1>
            <label for="courseName">Course Name</label>
            <br>
            <input type="text" name="courseName" id="courseName" required maxlength="30">
            <br>
            <!-- module count number selector 1-15 -->
            <label for="moduleCount">Number of Modules</label>
            <br>
            <input type="number" name="moduleCount" id="moduleCount" min="1" max="15" required>
            <br>
            <button id="submitCourse">Add Course</button>
        </div>
    </div>
</body>

</html>